:root {
  --res-x: 800px;

  --bg-color: #008282;
  --primary-color: #c3c3c3;
  --secondary-color: #0000aa;
  --active-color: #000180;
}

@font-face {
  font-family: w95fa;
  src: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/W95FA.otf?v=1653966439826f);
}

@font-face {
  font-family: DOSVGA;
  src: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/DOSVGA.ttf?v=1654038401691);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* TODO: CHANGE WINDOW TO GRID LAYOUT */

.dos,
.splash-screen,
.window {
  background-color: #000000;
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.dos {
  color: #ffffff;
  font-family: DOSVGA, monospace;
}

.dos > .dos-prompt {
  padding-left: 10px; 
  padding-right: 10px; 
}

.dos > .dos-prompt:last-child:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 5px;
  background-color: #ffffff;
  animation: input-blink linear 1s infinite;
}

@keyframes input-blink {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 1;
  }
  
  51% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
  }
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-screen img {
  width: 100%;
}

.window,
.window * {
  cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/arrow.png?v=1653964914514),
    auto;
}

.window,
button {
  font-family: w95fa, monospace;
}

.window > .desktop {
  position: absolute;
  background-color: var(--bg-color);
  left: 0; top: 0; right: 0; bottom: 0;
}

.window > .taskbar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: outset 2px;
  border-left: 0;
  border-right: 0;
  padding: 2px;
  background-color: var(--primary-color);
  gap: 4px;
  z-index: 50;
}

.window > .desktop > .file {
  display: inline-block;
  position: relative;

  background-color: transparent;
  color: #ffffff;
  padding: 4px;
  border: 0;
  text-align: center;
  font-size: smaller;
}

.window > .desktop > .file:focus {
  outline: none;
  z-index: 49;
}

.window > .desktop > .file:focus span {
  background-color: var(--secondary-color);
  outline-offset: -1px;
  outline: dotted 1px;
}

.window > .desktop > .file > .ico {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
  user-select: none;
}

.window > .desktop > .file:focus > .ico {
  filter: brightness(0.5);
}

/* Window Taskbar */

.window > .taskbar .spacer {
  height: auto;
  border: inset 1px;
  border-bottom: 0;
  border-top: 0;
}

.window > .taskbar > .tools {
  right: 2px;
  position: absolute;
}

.window > .taskbar > .btn.start {
  font-weight: bold;
}

.btn {
  padding: 2px;
  border: outset 1px;
  background-color: var(--primary-color);
}

.btn:focus {
  border: inset 1px;
  outline-offset: -4px;
  outline: dotted 1px;
}

.btn-inset {
  border: inset 1px;
}

.btn-no-focus:focus {
  outline-offset: none;
  outline: none;
}

.selection {
  position: absolute;
  z-index: 50;
  border: 1px dotted;
  filter: invert(1);
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 51;
  margin: 0;
  list-style-type: none;
  padding: 1px;
  border: outset 1px;
  background-color: var(--primary-color);
}

.context-menu > .list-item {
  padding: 2px 10px;
  width: 200px;
}

.context-menu > .list-item:hover {
  background-color: var(--active-color);
  color: white;
}


.win.cursor-default,
.win.cursor-default * {
    cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/arrow.cur?v=1654047947664), auto !important; 
}

.cursor-pointer,
.win.cursor-default * {
    cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/Cursor_15.cur?v=1654048053107), auto !important; 
}

.cursor-progress,
.win.cursor-default * {
    cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/Cursor_3.cur?v=16540481020063107), auto !important; 
}

