:root {
  --res-x: 800px;

  --bg-color: #008282;
  --primary-color: #c3c3c3;
  --secondary-color: #0000aa;
}

@font-face {
  font-family: w95fa;
  src: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/W95FA.otf?v=1653966439826f);
}

.window {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.window,
.window * {
  cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/arrow.png?v=1653964914514),
    auto;
}

.window,
button {
  font-family: w95fa, monospace;
}

.window > .taskbar {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: outset 2px;
  border-left: 0;
  border-right: 0;
  padding: 2px;
  background-color: var(--primary-color);
  gap: 4px;
}

.window > .file {
  display: inline-block;
  position: relative;

  background-color: transparent;
  color: #ffffff;
  padding: 4px;
  border: 0;
  text-align: center;
  font-size: smaller;
}

.window > .file:focus span {
  background-color: var(--secondary-color);
  outline-offset: -1px;
  outline: dotted 1px;
}

.window > .file > .ico {
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
  user-select: none;
}

.window > .taskbar .spacer {
  height: auto;
  border: inset 2px;
  border-bottom: 0;
  border-top: 0;
}

.window > .taskbar > .btn.start {
  font-weight: bold;
}

.btn {
  padding: 2px;
  border: outset 2px;
  background-color: var(--primary-color);
}

.btn:focus {
  border: inset 2px;
  outline-offset: -4px;
  outline: dotted 1px;
}
