:root {
  --res-x: 800px;
  
  --bg-color: #008282;
  --taskbar-bg-color: #c3c3c3;
}

.window {
  background-color: var(--bg-color);
  position: relative;
  width: 800px;
  height: 600px;
  cursor: url(https://cdn.glitch.global/31f9c0b6-abdb-466e-82fa-6dcaef7dfb1a/arrow.png?v=1653964914514), auto;
}

.window > .taskbar {
  width: 100%;
  height: 30px;
  background-color: var(--taskbar-bg-color);
}